body{
  /* background: #F2F1EF; */
  background: #D7E5E7;
  font-family: 'Montserrat',Georgia, Times New Roman, Times, serif, sans-serif;
  font-weight: bold;
  font-size: 30px;
}


#developer_name h5 {
  font-family: 'Alegreya SC', serif;
  color: white;
  margin-left: 12px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

span.developer_role {
  margin-top: 12% !important;
  font-weight: 100;
  margin-left:  20%;
  margin-left: 33% !important;
}

.developer_img {
  width: 200px;
  border-radius: 50%;
  height: 185px;
  margin-left: 10px;
}

.developer_anim{
  /* color: white; */
  /* margin-top: 4%; */
  background:  #222438;
  width:  100%;
}

.developer_anim span {
  color: white;
  font-size: 65px;
  font-weight:100;
  height: 100%;
  text-align: r;
  font-family: 'Montserrat', sans-serif;
}

.developer_anim span strong{
  color: #E1997B;
}

.factorial  {
    margin-top: 4%;
}

.experience_tag.factorial {
    /* background: white; */
    font-weight: 200;
    font-size: 33px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 35px;
}


.pricing-table {
  background-color: #fefefe;
  border: solid 1px #cacaca;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.pricing-table li {
  border-bottom: dotted 1px #cacaca;
  padding: 0.875rem 1.125rem;
}

.pricing-table li:last-child {
  border-bottom: 0;
}

.pricing-table .title {
  background-color: black;
  color: white;
  border-bottom: 0;
  display: block;
}

.skill_tag{
  padding: 30px;
}

.pricing-table .price {
  /* background-color: #e6e6e6; */
  /* font-size: 2rem; */
  border-bottom: 0;
}

.pricing-table .description {
  color: #8a8a8a;
  font-size: 80%;
}

.pricing-table :last-child {
  margin-bottom: 0;
}
